body{
    background-color: #ebe9e9
}

.pergunta-body{
    background-color: #EEEFF2
}

.container {
    padding-top: 15px;
    padding-bottom: 15px;
}

#logoNavBar{
    width: 75px;
    height: auto;
}

.nav-link{
    font-size: x-large;
}